<section>
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="produto">
            <th class="product-header" mat-header-call *matHeaderCellDef mat-sort-header>Nome do Produto</th>
            <td mat-cell *matCellDef="let element"> {{ element.produto }}</td>
        </ng-container>
        <ng-container matColumnDef="quantidade">
            <th mat-header-call *matHeaderCellDef mat-sort-header>Quantidade em estoque</th>
            <td mat-cell *matCellDef="let element"> {{ element.quantidade }}</td>
        </ng-container>
        <ng-container matColumnDef="defeito">
            <th mat-header-call *matHeaderCellDef mat-sort-header>Peças com defeitos</th>
            <td mat-cell *matCellDef="let element"> {{ element.defeito }}</td>
        </ng-container>
        <ng-container matColumnDef="disponiveis">
            <th mat-header-call *matHeaderCellDef>Peças para vendas</th>
            <td mat-cell *matCellDef="let element">{{ element.available }}</td>
        </ng-container>
        <ng-container matColumnDef="valor">
            <th mat-header-call *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let element">{{ element.valor | currency:'BRL' }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>

<ng-container *ngIf="!isEmptyData">
    <h1 class="emptyData">Nenhum resultado encontrado</h1>
</ng-container>